body {
    background-color: lightgray;
}
a{
    text-decoration: none !important;
    color: #fff !important;
}
.btn-secondary:hover{
    background-color: #085daf !important;
}
.btn-warning:hover{
    background-color: #ff9c04 !important;
}
.btn-danger:hover{
    background-color: #af2936 !important;
}  